.btn {
  width: 159px;
  height: 53px;
  background-color: inherit;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}
.btn:hover {
  background: #323232;
}
.btn.active {
  background: #323232;
}
