.booking-block {
  width: 100%;
  height: 89vh;
  overflow: hidden;
  background-image: url("fon.jpg");
  background-repeat: no-repeat;
  background-position: 0px -20px;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.booking-block > h2 {
  margin-top: 3vh;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
}
.booking-block__content {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
}

